BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_URL=http://localhost:3001
DATABASE_URL="postgresql://user:password@localhost:5432/nimbus?sslmode=disable"
FRONTEND_URL=http://localhost:3000
FRONTEND_URL_2=https://nimbus.com
FRONTEND_URL_3=https://nimbus2.com
REDIS_URL="redis://localhost:6379"
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GROQ_API_KEY=your_groq_api_key
GROQ_MODEL=model_name
